// щрифт

$fontSizeDefault: 16px;
$fontLineHeightDefault: 24px;

$fontSizeSmall: 12px;
$fontLineHeightSmall: 20px;

$fontSizeLarge: 24px;
$fontLineHeightLarge: 32px;
$fontFamilyDefault: consolas, "Times New Roman", serif;

// цвета

$primaryColor: #b04553;
$secondaryColor: #d7eae5;
$backgroundColor: #e898aa;
$extraColor: #5f5f87;


// размеры

$navbarHeight: 75px;
$paddingX: 50px;
