// щрифт

$fontSizeDefault: 16px;
$fontLineHeightDefault: 24px;

$fontSizeSmall: 12px;
$fontLineHeightSmall: 20px;

$fontSizeLarge: 24px;
$fontLineHeightLarge: 32px;
$fontFamilyDefault: consolas, "Times New Roman", serif;

// цвета

$primaryColor: #828ce0;
$secondaryColor: #FFFFFF;
$backgroundColor: #e8eafa;
$extraColor: #000000;


// размеры

$navbarHeight: 75px;
$paddingX: 50px;
