@import "app/styles/variables/global.scss";

.BlockHeader {
  font-size: $fontSizeLarge;
  line-height: $fontLineHeightLarge;
  color: $extraColor;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.BlockHeader span:last-child {
  color: $primaryColor;
  cursor: pointer;
}