@import "app/styles/variables/global.scss";
@import "pages/Article/Article.module.scss";

.BlockArticle {
  color: $extraColor;
}

.BlockArticle div:not(:first-child), button {
  margin-top: 10px;
}

.ReadButton {
  background: $secondaryColor;
  border-radius: 5px;
  border: 2px $primaryColor solid;

  padding: 5px 10px;

  cursor: pointer;
}