@import "app/styles/variables/global.scss";

.Main {
  padding: 0 $paddingX;
}

.Filter {
  font-size: $fontSizeLarge;
  line-height: $fontLineHeightLarge;
}

.Search {

  margin-top: 15px;
  width: 100%;
  border-radius: 5px;
  border: 1px $primaryColor solid;
  background: $secondaryColor;
  padding: 10px 15px;

  font-size: $fontSizeDefault;
  line-height: $fontLineHeightDefault;
}

input:focus, input:active  {
  border: 1px black solid;
  outline:none;
}
