@import "app/styles/variables/global.scss";

.Main {

}

.Filter {
  font-size: $fontSizeLarge;
  line-height: $fontLineHeightLarge;
}

.Search {

  margin-top: 15px;
}

input:focus, input:active  {
  border: 1px black solid;
  outline:none;
}
