@import "app/styles/variables/global.scss";

.Title {
  font-size: $fontSizeLarge;
  line-height: $fontLineHeightLarge;
}

.Tags {
  font-size: $fontSizeSmall;
  line-height: $fontLineHeightSmall;

  cursor: pointer;
  opacity: .5;
}

.NotFound {
  font-size: $fontSizeLarge;
  line-height: $fontLineHeightLarge;
  text-align: center;
  color: $extraColor;
}

.Text {
  cursor: auto;
}