@import "app/styles/variables/global.scss";

.SearchInput {
  width: 100%;
  border-radius: 5px;
  border: 1px $primaryColor solid;
  background: $secondaryColor;
  padding: 10px 40px 10px 15px;

  font-size: $fontSizeDefault;
  line-height: $fontLineHeightDefault;
}

.Label {
  position: relative;
  display: flex;
  align-items: center;
}

.Icon {
  position: absolute;
  right: 15px;
  cursor: pointer;
}