@import "app/styles/variables/global.scss";

.Navbar {
    background: $secondaryColor;
    height: $navbarHeight;
    border-bottom: 2px $primaryColor solid;

    display: flex;
    justify-content: space-between;
    padding: 0 $paddingX;

    position: sticky;
    top: 0;
    z-index: 1;
}

.TabCollection {
    display: flex;
    height: 100%;
}

.Logo {
    font-size: 40px;
    color: $extraColor!important;

    opacity: 1!important;
    cursor: auto;
}

.Logo:hover, .Logo:active {
    color: $extraColor!important;
}