@import "app/styles/variables/global.scss";

.Tab {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: 0 10px;

  cursor: pointer;

  color: $primaryColor;
  opacity: .6;
}

.Tab:hover, .Tab.Active {
  opacity: 1;
}